body {
	position: relative;
	padding: 40px 0;
}

h1, h2, h3, h4,.masthead p, .subhead p, .marketing h2, .lead
{
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
  font-weight: normal;
}
section{
	padding-top: 40px;
}
footer{
	border-top: 1px solid #ddd;
	margin-top: 40px;
	padding: 20px 0;
}


.jumbotron{
	position: relative;
	padding: 40px 0;
	color: #000;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #eeeeee;
	background: -moz-linear-gradient(45deg, #eeeeee 0%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#eeeeee), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(45deg, #eeeeee 0%,#f6f6f6 100%);
	background: -o-linear-gradient(45deg, #eeeeee 0%,#f6f6f6 100%);
	background: -ms-linear-gradient(45deg, #eeeeee 0%,#f6f6f6 100%);
	background: linear-gradient(45deg, #eeeeee 0%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f6f6f6',GradientType=1 );
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.1), inset 0 -1px 5px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,.1), inset 0 -1px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 5px rgba(0,0,0,.1), inset 0 -1px 5px rgba(0,0,0,.1);
}
.jumbotron:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(http://www.bootcss.com/assets/img/bs-docs-masthead-pattern.png) repeat center center;
	opacity: .4;
}
.jumbotron .container {
	position: relative;
	z-index: 2;
}
.jumbotron h3,.jumbotron h4{
	text-shadow:none;
	color: #666;
}

.subhead,.masthead {
	text-align: left;
	border-bottom: 1px solid #ddd;
}
.masthead h1{
	font-size: 60px;
	line-height: 1.2em;
}
h1.round-sign{
	display: block;
	color: #fff;
	background-color: #444;
	width: 120px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
}
.signs h4{
	margin-top: 20px;
	display: block;
}

.page-content{
	margin-top: 40px;
}
.page-section{
	margin-bottom: 40px;
}

.docs-sidenav {
	width: 258px;
	margin: 30px 0 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.docs-sidenav.affix {
	top: 40px;
}
.docs-sidenav > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.docs-sidenav > .active > a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
.docs-sidenav > li > a {
	width: 230px \9;
}
.docs-sidenav > li > a {
	display: block;
	width: 190px \9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.show-grid {
margin-top: 10px;
margin-bottom: 20px;
}
.show-grid [class*="span"] {
background-color: #EEE;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
min-height: 40px;
line-height: 40px;
}
.show-grid [class*="span"]:hover{
	background-color: #ddd;
}


.mini-layout {
	margin-bottom: 20px;
	padding: 9px;
	width: 300px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.mini-layout div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mini-layout .mini-layout-head,
.mini-layout .mini-layout-nav
{
	height: 20px;
	background-color: #666;
	margin: 0 auto;
	margin-bottom: 9px;
}
.mini-layout .mini-layout-head:hover{
	background-color: #333;
}

.mini-layout .mini-layout-sidebar{
	width: 50px;
	height: 150px;
	background-color: #bbd8e9;
	float: left;
}

.mini-layout .mini-layout-focus,
.mini-layout .mini-layout-body {
	background-color: #dceaf4;
	margin: 0 auto;
	height: 150px;
	text-align: center;
	line-height: 120px;
	color: gray;
}
.mini-layout .mini-layout-sidebar:hover,
.mini-layout .mini-layout-nav:hover,
.mini-layout .mini-layout-focus:hover,
.mini-layout .mini-layout-body:hover{
	background-color: #bce8f1;
}

.mini-layout.fixed .mini-layout-head,
.mini-layout.fixed .mini-layout-body{
	width: 70%;
}
.mini-layout.mixed .mini-layout-body{
	width: 70%;
}

.mini-layout .mini-layout-focus{
	width: 50%;
	height: 80px;
	margin: 35px auto;
	line-height: 80px;
}

.mini-layout.mini-content-layout .mini-layout-head{
	background-color: #ddd;
}
.mini-layout .mini-layout-nav{
	background-color: #bbd8e9;
}
.mini-layout.with-nav .mini-layout-body{
	height: 120px;
}
.mini-layout.with-sidebar .mini-layout-body{
	width: 240px;
	margin-left: 60px;
}
.mini-layout .mini-layout-body.with-sidebar{
	padding-right: 0px;
}
.mini-layout .mini-layout-body .mini-layout-body-sidebar{
	width: 50px;
	background-color: #a4b3c2;
	height: 130px;
	margin: 10px;
	float: right;
}
