body{
	padding-top: 100px;
}
 h1, h2, h3,h4
{
  font-weight: normal;
}
.section{
	margin-bottom: 20px;
}

/*
	Header style.
 =============== */

/* Brand style. */
.navbar-brand{
	padding: 0 0 0 15px;
}
.navbar-brand img{
	width: auto;
	height: 60px;
}

/* Navbar Style. */
.navbar{
	border-bottom: 1px solid #eee;
	height: 70px;
	line-height: 50px;
	padding: 5px;
	background-color: #fff;
}
.navbar .nav{
	background-color: #fff;
}
.navbar .nav li>a{
	color: #333;
	font-weight: bold;
	padding: 10px 15px;
	margin: 10px 0;
	font-size: 16px;
}
.navbar .nav li>a:hover{
	background-color: #eee;
}
.navbar .nav li.active>a{
	color: #0358DE;
}
#account-info{
	margin-left: 30px;
}

/* Navbar Large. */
.navbar-lg{
	height: 100px;
	line-height: 80px;
	-moz-box-shadow:0px 2px 6px rgba(0,0,0,0.3); -webkit-box-shadow:0px 2px 6px rgba(0,0,0,0.3); box-shadow:0px 2px 6px rgba(0,0,0,0.3);
}
.navbar-lg .nav li>a{
	font-size: 20px;
	margin: 25px 0;
}
.navbar-lg .navbar-brand{
	margin-top: 5px;
}
.navbar-lg .navbar-brand img{
	height: 80px;
}

/*
  Footer.
================ */
footer{
	text-align: center;
	border-top: 1px solid #eee;
	margin-top: 50px;
	padding: 20px 0;
}