body{
	padding-top: 100px;
}
 h1, h2, h3,h4
{
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
  font-weight: normal;
}

/*
	Header style.
 =============== */

/* Brand style. */
#brand{
	display: inline-block;
	text-indent: -9999em;
	background: url('../img/logo.png') center no-repeat;
	width: 470px;
	height: 80px;
}

/* Navbar Style */
.navbar{
	border-bottom: 1px solid #eee;
	height: 100px;
	line-height: 80px;
	padding: 10px;
	background-color: #fff;
	-moz-box-shadow:0px 2px 6px rgba(0,0,0,0.3); -webkit-box-shadow:0px 2px 6px rgba(0,0,0,0.3); box-shadow:0px 2px 6px rgba(0,0,0,0.3);
}
.navbar .nav{
	background-color: #fff;
}
.navbar .nav li>a{
	color: #333;
	font-weight: bold;
	padding: 10px 15px;
	margin: 20px 0;
	font-size: 20px;
}
.navbar .nav li.active>a{
	color: #0358DE;
	background-color: #fff;
}
#account-info{
	margin-left: 30px;
}


/*
  Jumbotron Style
 ================ */
.jumbotron{
	height: 400px;
	background: #3b67fc url('../img/jumbotron_bg.jpg') center no-repeat;
}
.jumbotron h1{
	color: #fff;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
	text-align: center;
	line-height: 2em;
	font-size: 54px;
}
.jumbotron .input-group{
	padding:0 15%;
}

/*
  Features
================ */
.feature{
	text-align: center;
	margin-top: 20px;
}
.feature .sign i{
	font-size: 180px;
}
.feature .sign i.icon-certificate{
	position: relative;
} 
.feature .sign i.icon-certificate h2{
	color: #fff;
	width: 60%;
	margin: 20% 20%;
	position: absolute;
	padding: 8px 0;
	top: 10px;
	border-bottom: 2px solid #fff;
}
.feature .sign i.icon-certificate h5{
	color: #fff;
	width: 100%;
	margin-top: 55%;
	position: absolute;
	padding: 8px 0;
	top: 10px;
}

/*
  Footer
================ */
footer{
	text-align: center;
	border-top: 1px solid #eee;
	margin-top: 50px;
	padding: 20px 0;
}